<% extend('layout') %>

<div>
    <h2>My Blog</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/addPost">Add a new post</a></li>
    </ul>

    <div ng-view>
    </div>
</div>
